<a href="https://colab.research.google.com/github/2303a51217/2303A51217-python/blob/main/lab_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("/content/student_scores.csv")

print("Original Data:\n", df)

df.fillna(df.mean(numeric_only=True), inplace=True)

print("\nData after filling missing values:\n", df)

high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]

print("\nHigh Achievers (scored > 75 in all subjects):\n", high_achievers)

Original Data:
    Student_ID   Name  Math  Science  English
0           1  Anita  80.0     90.0     85.0
1           2   Ravi  70.0      NaN     78.0
2           3  Meena  88.0     92.0      NaN
3           4  Kiran  60.0     65.0     70.0
4           5  Arjun   NaN     80.0     82.0

Data after filling missing values:
    Student_ID   Name  Math  Science  English
0           1  Anita  80.0    90.00    85.00
1           2   Ravi  70.0    81.75    78.00
2           3  Meena  88.0    92.00    78.75
3           4  Kiran  60.0    65.00    70.00
4           5  Arjun  74.5    80.00    82.00

High Achievers (scored > 75 in all subjects):
    Student_ID   Name  Math  Science  English
0           1  Anita  80.0     90.0    85.00
2           3  Meena  88.0     92.0    78.75

In [3]:
import pandas as pd

df = pd.read_csv("/content/patients.csv")

df["Age"] = df["Age"].fillna(df["Age"].median())

filtered = df[(df["Gender"] == "Female") & (df["Age"] > 50) & (df["Diagnosis"] == "Diabetes")]

print("Elderly Female Diabetes Patients")
print(filtered)

Elderly Female Diabetes Patients
  Patient_ID     Name   Age  Gender Diagnosis Admission_Date
0       P101    Anita  65.0  Female  Diabetes     2025-08-01
2       P103  Kavitha  55.0  Female  Diabetes     2025-08-05
4       P105  Lakshmi  72.0  Female  Diabetes     2025-08-10