In [7]:
fp=open("myexample.txt","w")
fp.write("batch1 to 6")
fp.write(  " cse\n")
fp.write(  "  sr university")
fp.close()
print("data  written succeesfully")

data  written succeesfully

In [8]:
fp=open("myexample.txt","r")
content=fp.read()
print("file tech",content)
fp.close()

file tech batch1 to 6 cse
  sr university

In [9]:
fp=open("myexample.txt","r")
line1=fp.readline()
#line2=fp.readline()
print("we have only one  line\n ",line1)

fp.close()

we have only one  line
  batch1 to 6 cse

In [10]:
fp=open("myexample.txt","r")
line1=fp.readlines()
line2=fp.readlines()
print("all lines",line1,line2)

all lines ['batch1 to 6 cse\n', '  sr university'] []

In [11]:
p=open("myexample.txt","a")
text=p.write("   students result")
print("data  written succeesfully")
p.close()

data  written succeesfully

In [12]:
with open("myexample.txt","r") as fp:
    content=fp.read()
    print(content)

batch1 to 6 cse
  sr university   students result

In [13]:
import csv
with open("sales.csv","w",newline="")as fp:
  text=csv.writer(fp)
  text.writerow(["name","Age","gender"])
  text.writerow(["Abhi","23","male"])
  text.writerow(["anoop","20","female"])
  print(text)

<_csv.writer object at 0x796937d423e0>

In [14]:
with open("sales.csv","r")as fp:
  data=csv.reader(fp)
  for row in data:
    print(row)

['name', 'Age', 'gender']
['Abhi', '23', 'male']
['anoop', '20', 'female']